config
queue
node_modules
secrets
archive
playground
**/*.env
data/
node_modules
server/server.log
.DS_Store
node_modules
/dist


# local env files
**/*.env
**/*.env.local
**/*.env.*.local
workspace/
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/*_key
**/*_key.pub
**/*.pub
**/*.pem

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
**/*.log
arch
*.sqlite*
kiwiirc
db/**
public/kiwi
public/javascripts
plugins
secrets
*.html
*.cssraw
**/*.tgz