extends ../layout

block content
    .container
        .section.is-large
            .card.has-background-primary-dark
                header.card-header
                    .card-header-title.title.has-text-warning-light.is-family-code.block.mb-5
                        em(style="border-bottom: 6px;border-bottom-style: dashed;") lou.network
                            i.fa.fa-comments
                .card-content
                    .container.block
                        block card