div.is-family-primary
  // style-start
  link(rel="stylesheet" href="./views/assets/bulma.css")
  // style-end
  div
    // head-end
    .container.content.has-text-dark.block(style="max-width:75%;")
      .section.container
        .title.has-text-link.is-family-code.block.mb-5.has.is-flex.is-justify-content-center
          em(style="border-bottom: 6px;border-bottom-style: dashed;") lou.network🗪
        block content
      footer.footer.has-background-light(style="width:100%;border-top:6px groove mediumblue;")
        block footer
