doctype html
// head-start
html.has-background-dark

  head
    title= title
    
    // style-start
    style
      include assets/bulma.css
    style
      include assets/vendor.css
    link(rel="stylesheet" href="./public/stylesheets/bulma.css")
    link(rel="stylesheet" href="./public/stylesheets/vendor.css")
    // style-end
  body
    // head-end
    block content
