doctype html
// head-start
html.has-background-dark

  head
    title= title
    meta(name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1')

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    // style-start
    
    if inlined
      link(rel="stylesheet" href="./public/stylesheets/bulma.css")
      link(rel="stylesheet" href="./public/stylesheets/vendor.css")
    else 
      style
        include assets/bulma.css
      style
        include assets/vendor.css
    // style-end
  body
    // head-end
    block content
