extends layouts/auth

block card
    //- .is-flex.is-justify-content-center
        .title.has-text-warning-light Log-In
    .block.content.has-text-warning-light
        p.is-size-5 Password successfully reset.
        a.is-size-6(href="/auth/login?"+querystring) Back to login