extends layouts/auth

block card
    //- .is-flex.is-justify-content-center
        .title.has-text-warning-light Log-In
    .block.content.has-text-warning-light
        p.is-size-5 Password reset instructions have been sent if a user exists for the provided email. Please check your e-mail for further instructions.
        hr.my-5(style="border-top:1px solid wheat;")
        p.is-size-6
            em If you don't see the email, check your spam folder, as we are still warming up our mail servers. Thank you.
