extends layouts/auth

block card
    //- .is-flex.is-justify-content-center
        .title.has-text-warning-light Log-In
    .block.content.has-text-warning-light
        | Forgot your account’s password? Enter your email address and we’ll send you a recovery link.
    form.section#form.form.m-auto(action="/auth/reset-password/"+user+"?"+querystring method="post" style="width:75%;max-width:512px" )
        .field
            .control.has-icons-left
                input.input.is-large(name="password" type="password" placeholder="password")
                .icon.is-left
                    i.fas.fa-key
        .field
            .control.has-icons-left
                input.input.is-large(name="confirm" type="password" placeholder="re-enter password")
                .icon.is-left
                    i.fas.fa-key
        .field
            .control
                input.button.is-link(type="submit" value="Change Password")